@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 32px;
}

.header{
    display: flex;
    background-color: #1f2937;
    max-height: 200px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.right-links,
.subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.right-links{
    flex-flow: row;
}

.header,
.content{
    padding: 0 200px;
}

.content{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    flex: 1;
    gap: 100px;
}

.content-head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 450px;
}

.content img{
    height: auto;
    width: 400px
}

.main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.button{
    background-color: #3882F6;
    border-radius: 8px;
    margin-top: 10px;
    padding: 8px;
    width: 100px;
    color: white;
    font-weight: bold;
    border: none;
}